scrivere un programma che carichi in una lista di 10 città italiane e le visualizzi ordinandole in base alla lunghezza del nome (crescente e decrescente)

In [ ]:
citta = ["Roma", "Como", "Bra"]
citta_crescente = sorted(citta,key = len)
print(citta_crescente)
citta_crescente.reverse()
print(citta_crescente)

['Bra', 'Roma', 'Como']
['Como', 'Roma', 'Bra']

scrivere un programma che carichi in una lista di 10 città italiane e ne elimini i doppioni

In [ ]:
citta.extend(["lecco", "Milano", "Milano"])
print(citta)
cittaFinale = list(dict.fromkeys(citta))
print(cittaFinale)

['Roma', 'Como', 'Bra', 'lecco', 'Milano', 'Milano']
['Roma', 'Como', 'Bra', 'lecco', 'Milano']

Scrivere un programma che

In [ ]:
citta1 = ["Roma", "Como", "Bra", "Bari", "Milano", "Pisa", "ccs"]
citta2 = ["Roma", "Como", "Bra", "Bari", "Milano", "Pisa"]
cittaComuni = list(set(citta1).intersection(set(citta2)))
print(cittaComuni)

['Roma', 'Pisa', 'Bra', 'Bari', 'Milano', 'Como']

In [ ]:
d = {'Lecco': 'Lombardia', 'Bari':'Puglia', 'Roma':'Lazio', 'Pisa':'Toscana', 'Como':'Lombardia', 'Bra':'Piemonte'}
for i in d:
    print(i,"si trova in", d[i])

Lecco si trova in Lombardia
Bari si trova in Puglia
Roma si trova in Lazio
Pisa si trova in Toscana
Como si trova in Lombardia
Bra si trova in Piemonte

In [ ]:
citta = input("inserisci citta")
d = {'Lecco': 'Lombardia', 'Bari':'Puglia', 'Roma':'Lazio', 'Pisa':'Toscana', 'Como':'Lombardia', 'Bra':'Piemonte'}
print("si trova in %s" % d.get(citta))

inserisci cittaLecco
si trova in Lombardia

23) Programma che carichi in una lista tutti i numeri pari minori di 100

In [ ]:
n_pari = []
for i in range(100, 0, -2):
  if(i % 2 ==0):
    n_pari.append(i)
print(n_pari)

[100, 98, 96, 94, 92, 90, 88, 86, 84, 82, 80, 78, 76, 74, 72, 70, 68, 66, 64, 62, 60, 58, 56, 54, 52, 50, 48, 46, 44, 42, 40, 38, 36, 34, 32, 30, 28, 26, 24, 22, 20, 18, 16, 14, 12, 10, 8, 6, 4, 2]

24) Estremi

In [ ]:
ls = []
ls1 = []
x = int(input("Inserisci primo estremo:"))
y = int(input("Inserisci secondo estremo:"))
i = range (x, y)
for n in i:
  ls.append(n)
  if (n % 3==0):
     ls1.append(n)
print(ls1)
print(ls)

Inserisci primo numero:3
Inserisci secondo numero:6
[3]
[3, 4, 5]

25)

In [ ]:
lst = []
n = int(input("Inserisci numero di elementi: "))
for i in range(0, n):
    ele = int(input())
    if (ele % 10==0):
      lst.append(ele)
print(lst)

Inserisci numero di elementi: 4
2
30
40
50
[30, 40, 50]

26)

In [ ]:
x = 10
def incrementa(x):
  x = x +10
  return x
  incrementa(x)

In [ ]:
import random
randomlist = []
randomlistincrementata = []
for i in range(0,20):
  n = random.randint(1,100)
  randomlist.append(n)
  z = incrementa(n)
  randomlistincrementata.append(z)

print("lista originale ",randomlist)
print("lista incrementata ",randomlistincrementata)

lista originale  [82, 42, 44, 20, 65, 54, 96, 4, 76, 72, 27, 64, 10, 13, 75, 78, 78, 49, 18, 11]
lista incrementata  [92, 52, 54, 30, 75, 64, 106, 14, 86, 82, 37, 74, 20, 23, 85, 88, 88, 59, 28, 21]